<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">

    <!-- TODO: Include user here-->
    <!-- TODO: Include first letter of the First Name as DP Image -->
    <mat-list>
      <mat-list-item>
        <img matListAvatar src="assets/blank_user_dp.png" alt="Juan Dela Cruz">
        <h3 matLine>Juan Dela Cruz</h3>
        <p matLine>
          <span>Auditor</span>
        </p>
      </mat-list-item>
    </mat-list>

    <mat-nav-list>
      <a mat-list-item *ngFor="let navLink of navLinks" (click)="navClick(navLink.path)">
        <mat-icon matListIcon>{{navLink.icon}}</mat-icon> {{navLink.title}}</a>
    </mat-nav-list>

    <mat-nav-list>
      <a mat-list-item *ngFor="let navLink of otherLinks" (click)="navClick(navLink.path)">
        <mat-icon matListIcon>{{navLink.icon}}</mat-icon> {{navLink.title}}</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Audit Management System</span>
    </mat-toolbar>
    <!-- TODO: Add router-outlet -->
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>